@import "primeflex/primeflex.css";

// Handle 125% and 150% Windows 10 Font Scaling
@media (min-resolution: 120dpi) {
    html {
        font-size: 80%;
    }
}

a {
    text-decoration: none;
}

html,
body {
    height: calc(100% - 35px);
}

.mat-tooltip {
    font-size: 14px !important;
    white-space: normal !important;
    word-break: break-all !important;
}

table.mat-table,
table {
    width: 100%;
}

.mat-option-text {
    font-size: 12px;
}

body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mat-sidenav-container {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
}