@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap:400,700');

// Handle 125% and 150% Windows 10 Font Scaling
@media (min-resolution: 120dpi) {
    html {
        font-size: 80%;
    }
}

a {
    text-decoration: none;
}

html,
body,
body .p-component {
    font-family: 'Muli', sans-serif !important;
}

h1 {
    color: black;
}

.mat-tooltip {
    font-size: 14px !important;
    white-space: normal !important;
    word-break: break-all !important;
}

table.mat-table,
table {
    width: 100%;
}

.mat-option-text {
    font-size: 12px;
}

body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mat-sidenav-container {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
}

.core-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .core-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .core-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .core-container {
        width: 1170px;
    }
}