<div class="min-h-screen flex flex-column">

    <app-navbar></app-navbar>

    <div class="separator"></div>

    <div class="hidden md:block lg:block xl:block">
        <app-splash-img path="assets/img/man.webp" text="sharing is caring"></app-splash-img>

        <div class="core-container">
            <div class="p-8">
                <div class="shadow-6 relative flex" style="min-height: 300px;">
                    <p-tabView class="w-full">
                        <p-tabPanel header="Donate">
                            <app-donate></app-donate>
                        </p-tabPanel>
                        <p-tabPanel header="Request help">
                            <app-request-help></app-request-help>
                        </p-tabPanel>
                        <p-tabPanel header="Work">
                            <app-work></app-work>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>

    <div class="md:hidden">
        <p-tabView>
            <p-tabPanel header="Donate">
                <app-donate></app-donate>
            </p-tabPanel>
            <p-tabPanel header="Request help">
                <app-request-help></app-request-help>
            </p-tabPanel>
            <p-tabPanel header="Work">
                <app-work></app-work>
            </p-tabPanel>
        </p-tabView>

        <app-splash-img path="assets/img/man.webp" text="sharing is caring"></app-splash-img>
    </div>

    <div class="core-container">
        <div class="p-4 md:p-8">
            <div class="p-2" style="min-height: 300px;">
                <div class="flex align-items-center justify-content-center text-primary">
                    <div class="block">
                        <h2>„Help others and give something back. That's what life is all about...”
                        </h2>
                    </div>
                </div>

                <p>
                    This quote by Arnold Schwarzenegger highlights the idea that the true purpose of life is to assist
                    others and make a positive impact in the world. By giving back and helping those in need, we can
                    make a meaningful difference in the lives of others and fulfill our own sense of purpose. The quote
                    emphasizes the idea that it's not just about accumulating wealth or personal gain, but about using
                    our resources and abilities to help others and make a lasting impact.
                    <br />
                    <br />
                    Our web application is designed to make it easy for donors to contribute and for aid to reach those
                    in need quickly and efficiently. We have four key players in our system: donors, beneficiaries,
                    warehouse keepers, and delivery drivers, all working together to bring about positive change. Donors
                    can easily log in and provide essential goods, and beneficiaries can request specific items they
                    need. Warehouse keepers receive and organize the donations, and delivery drivers bring them to those
                    in need.
                    <br />
                    <br />
                    We also believe that kindness and generosity should always be appreciated and
                    valued. Our goal is to create a community where people come together to support each other in times
                    of need and where the act of giving is celebrated.
                </p>
            </div>
        </div>
    </div>

    <app-splash-img path="assets/img/home.webp"></app-splash-img>

    <div class="core-container">
        <div class="p-4 md:p-8">
            <div class="border-dashed pl-3 pr-3" style="min-height: 300px;">
                <h2>Our mission</h2>
                <p>
                    At ingoodhands, our mission is to bring hope and comfort to those in need, especially in war-torn
                    Ukraine where people are struggling to survive. We believe that every human being deserves access to
                    basic necessities such as food, drink, and protective equipment, and it is our goal to make that a
                    reality.
                    <br />
                    <br />
                    Our mission goes beyond simply delivering goods. It is rooted in a deep sense of compassion and a
                    desire to make a positive impact in the world. Every donation, no matter how small, has the power to
                    make a significant difference in someone's life and bring hope to those in need.
                    <br />
                    <br />
                    In conclusion, our mission at ingoodhands is to bring hope and comfort to those in need, through the
                    power of kindness, generosity, and technology. Join us in our efforts to make a positive impact in
                    the world and show that even in times of conflict, the human spirit can still shine through.
                </p>
            </div>
        </div>
    </div>

    <div class="footer surface-ground p-5">
        <div class="flex justify-content-center align-items-center">{{url}}</div>
    </div>

</div>