<div class="p-3">
    <h1>Work for us</h1>

    <h3>Driver</h3>

    <p>
        Start with yourself and help ingoodhands deliver food and equipment to those most in need.
        All you need is your own car. In our application, you can track current orders and deliver designated goods to
        those in need. Become a hero and help people in need.
    </p>

    <hr>

    <h3>Warehouse employee</h3>

    <p>
        Our work requires a lot of logistics and solving warehouse problems.
        A warehouse worker handles receipts of goods and separates goods for drivers.
        Our employees are masters in their profession and try to do everything in their power to use their potential.
    </p>

    <hr>

    <p class="pb-3">
        Every day we try to provide all those in need with what they need most, unfortunately it requires a lot of work
        from us.
        You can help today, if you are interested, click the button below.
    </p>

    <button pButton type="button" routerLink="/secure/work" label="I CAN TRY" class="p-button-success"></button>
</div>