<div class="grid">

    <div class="col-12" *ngIf="auth.dbUser.warehouseId && !hasActiveDelivery">
        <div class="pt-3 flex align-items-center justify-content-center">

            <div class="pt-3">
                <span class="p-float-label">
                    <input id="search" class="input-field" type="text" pInputText
                        (ngModelChange)="onFilterChange.next($event)" [(ngModel)]="filter">
                    <label for="search">Search</label>
                </span>
            </div>

        </div>
    </div>

    <div class="col-12">
        <div class="p-3">
            <p-card *ngIf="!auth.dbUser.warehouseId">
                <h1 class="text-2xl font-bold m-0">You don't have warehouse assigned! 😯</h1>
            </p-card>

            <p-card *ngIf="auth.dbUser.warehouseId && hasActiveDelivery">
                <h1 class="text-2xl font-bold m-0">You have already active delivery! 🤨</h1>
            </p-card>

            <p-card *ngIf="auth.dbUser.warehouseId && !hasActiveDelivery">
                <h1 class="text-2xl font-bold m-0">Available deliveries</h1>

                <ng-container *ngIf="pagedResult">

                    <p-card class="p-2" *ngFor="let item of pagedResult.queryable">
                        <div class="grid">
                            <div class="col-12">

                                <div class="delivery-container">
                                    <div>
                                        <h2 class="text-xl font-bold m-0 text-primary">
                                            {{item.deliveryName}}

                                            <span class="order-text">({{item.orderName}}, {{item.warehouseName}})</span>
                                        </h2>

                                        <p>
                                            {{item.creationDate.toLocaleString(DateTime.DATETIME_MED)}} -
                                            <b> {{getProductsText(item.productTypesCount)}} </b> <br />
                                            {{item.warehouseCountryEnglishName}}, {{item.warehouseFullStreet}}
                                        </p>
                                    </div>

                                    <div>
                                        <button pButton pRipple [disabled]="isAssigning"
                                            *ngIf="screen.screenSize < ScreenSize.sm" type="button" icon="pi pi-check"
                                            (click)="onAssignMeClick(item)" pTooltip="Assign me"
                                            class="p-button-rounded p-button-outlined"></button>

                                        <button pButton [disabled]="isAssigning"
                                            *ngIf="screen.screenSize >= ScreenSize.sm" type="button" icon="pi pi-check"
                                            (click)="onAssignMeClick(item)" label="ASSIGN ME"
                                            class="p-button-outlined p-button-warning"></button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </p-card>

                    <p-paginator [rows]="pageSize" [totalRecords]="pagedResult.rowCount"
                        (onPageChange)="paginate($event)"></p-paginator>
                </ng-container>
            </p-card>
        </div>
    </div>
</div>