.email-text {
    color: #666;
    font-size: 12px;
}

.avatar-padding {
    width: 25px;
    height: 25px;
    display: inline-block
}

.avatar {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-top: 5px;
    position: absolute
}