<div id="app-sidebar-12"
    class="surface-card hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 select-none shadow-2"
    style="width:280px;border-radius: 12px">
    <div class="flex flex-column h-full">
        <div class="overflow-y-auto">
            <div class="p-3">
                <div class="p-input-icon-left w-full">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText class="border-1 surface-border w-full" placeholder="Search"
                        style="border-radius: 30px">
                </div>
            </div>
            <ul *ngFor="let group of config" class="list-none px-3 pb-3 pt-0 m-0">
                <li>
                    <div class="p-3 flex align-items-center justify-content-between text-600">
                        <span class="font-medium text-sm text-900">{{ group.label }}</span>
                    </div>
                    <ul class="list-none p-0 m-0 overflow-hidden">
                        <li *ngFor="let page of group.pages">
                            <a pRipple
                                class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-colors border-right-2 transition-duration-150"
                                [ngClass]="router.url === page.routerLink ? 'bg-purple-50 text-purple-500 border-purple-500' : 'border-transparent'">
                                <i [class]="page.icon"></i>
                                <span class="font-medium">{{ page.label }}</span>
                                <span *ngIf="page.alerts !== 0"
                                    class="inline-flex align-items-center justify-content-center ml-auto bg-purple-500 text-0 border-circle transition-duration-150"
                                    style="min-width: 1.5rem; height: 1.5rem">{{ page.alerts }}</span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

        <div class="mt-auto border-top-1 surface-border p-3 flex justify-content-between">
            <a pRipple
                class="cursor-pointer inline-flex align-items-center justify-content-center border-2 surface-border hover:surface-100 text-600 transition-colors transition-duration-150 border-circle"
                style="width:40px;height:40px">
                <i class="pi pi-file text-xl"></i>
            </a>
            <a pRipple
                class="cursor-pointer inline-flex align-items-center justify-content-center border-2 surface-border hover:surface-100 text-600 transition-colors transition-duration-150 border-circle"
                style="width:40px;height:40px">
                <i class="pi pi-star text-xl"></i>
            </a>
            <a pRipple
                class="cursor-pointer inline-flex align-items-center justify-content-center border-2 surface-border hover:surface-100 text-600 transition-colors transition-duration-150 border-circle"
                style="width:40px;height:40px">
                <i class="pi pi-cog text-xl"></i>
            </a>
            <a pRipple
                class="cursor-pointer inline-flex align-items-center justify-content-center bg-pink-500 text-white border-2 border-pink-600 hover:bg-pink-600 text-600 transition-colors transition-duration-150 border-circle"
                style="width:40px;height:40px">
                <i class="pi pi-sign-out text-xl"></i>
            </a>
        </div>
    </div>
</div>