<div class="surface-overlay py-3 px-3 flex align-items-center justify-content-between relative lg:static">
    <img src="assets/logo.svg" alt="ingoodhands" height="40" class="ml-3 mr-0 lg:mr-6">
    <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
        leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-ellipsis-v text-2xl"></i>
    </a>
    <ul
        class="list-none p-3 lg:p-0 m-0 lg:align-items-center select-none flex-column lg:flex-row absolute hidden lg:flex lg:static surface-overlay right-0 top-100 z-1 shadow-2 lg:shadow-none">
        <li class="lg:mr-1">
            <button (click)="login()" pButton pRipple type="button" [label]="auth.isLoggedIn ? 'GO TO APP' : 'LOGIN'"
                class="p-button-outlined"></button>
        </li>
    </ul>
</div>