.warehouse-text-container {
    width: 80px;
    height: 40px
}

.warehouse-text {
    position: absolute;
    margin-top: 14px;
    margin-left: 14px;
    font-size: 12px;
    font-style: italic;
    color: gray;
}