<div class="grid">
    <div class="col-12">
        <div class="p-3">
            <p-card>
                <div *ngIf="order" class="grid">
                    <div class="col-12">
                        <div class="flex align-items-center justify-content-start">
                            <h2>{{ order.name }}</h2>
                        </div>

                        <div class="flex pb-3 align-items-center justify-content-start"
                            *ngIf="order.percentage !== 100">
                            <p-confirmPopup></p-confirmPopup>
                            <button pButton icon="pi pi-times" class="p-button-outlined p-button-danger"
                                label="CANCEL ORDER" (click)="confirm($event)"></button>
                        </div>

                        <p class="m-0">
                            <a target="_blank"
                                href="https://www.google.com/maps/search/?api=1&query={{order.gpsLatitude}}%2C{{order.gpsLongitude}}">
                                <b>Address:</b>
                            </a>
                            {{ order.countryName }}, {{ order.city }}
                            {{ order.postalCode }}, {{ order.fullStreet }}
                        </p>
                        <p class="m-0"><b>Percentage:</b> {{ order.percentage }}%</p>
                        <p class="m-0"><b>Creation Date:</b> {{ order.creationDate | string2Date }}</p>
                    </div>
                    <div class="col-12">
                        <google-map [center]="location" height="500px" width="100%" [zoom]="10">
                            <map-marker [options]="marker"></map-marker>
                        </google-map>
                    </div>
                    <div class="col-12">
                        <p-card header="Deliveries">
                            <h3 *ngIf="order.deliveries.length===0">
                                There are no deliveries yet! 🤨
                            </h3>
                            <ul *ngIf="order.deliveries.length!==0">
                                <li class="pt-3" class="delivery-container" *ngFor="let delivery of order.deliveries">
                                    <div class="pb-3">
                                        <div>
                                            <b>{{ delivery.name }}</b>

                                            <p-tag *ngIf="delivery.isLost" styleClass="ml-2 mb-1" icon="pi pi-calendar"
                                                severity="danger" value="LOST">
                                            </p-tag>

                                            <p-tag *ngIf="!delivery.tripStarted " styleClass="ml-2 mb-1"
                                                icon="pi pi-calendar" severity="warning" value="Trip not started yet">
                                            </p-tag>

                                            <p-tag *ngIf="delivery.tripStarted && !delivery.isDelivered"
                                                styleClass="ml-2 mb-1" icon="pi pi-calendar" severity="success"
                                                value="Trip started">
                                            </p-tag>

                                            <p-tag *ngIf="!delivery.isDelivered" styleClass="ml-2 mb-1"
                                                icon="pi pi-calendar" severity="warning" value="Not delivered">
                                            </p-tag>

                                            <p-tag *ngIf="delivery.isDelivered" styleClass="ml-2 mb-1"
                                                icon="pi pi-calendar" severity="success" value="Delivered">
                                            </p-tag>
                                        </div>

                                        <div> {{ delivery.creationDate | string2Date }}</div>

                                        <div *ngIf="delivery.delivererEmail"> <b>Deliverer:</b>
                                            {{getDelivererText(delivery)}}
                                        </div>

                                        <div class="pt-1 pb-1">
                                            <ul>
                                                <li *ngFor="let product of delivery.products">
                                                    <b>{{ product.name }}</b> - {{ product.quantity }} {{ product.unit
                                                    }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <button pButton pRipple
                                            *ngIf="screen.screenSize < ScreenSize.sm && !delivery.isDelivered && delivery.tripStarted"
                                            [disabled]="isSettingDeliveredId !== '0'" type="button" icon="pi pi-check"
                                            (click)="onMarkAsDeliveredClick(delivery)" pTooltip="Mark as delivered"
                                            class="p-button-rounded p-button-outlined"></button>

                                        <button pButton
                                            *ngIf="screen.screenSize >= ScreenSize.sm && !delivery.isDelivered && delivery.tripStarted"
                                            [disabled]="isSettingDeliveredId !== '0'" type="button" icon="pi pi-check"
                                            (click)="onMarkAsDeliveredClick(delivery)" label="MARK AS DELIVERED"
                                            class="p-button-outlined p-button-success"></button>
                                    </div>
                                </li>
                            </ul>
                        </p-card>
                    </div>
                    <div class="col-12">
                        <p-card header="Products">
                            <ul>
                                <li *ngFor="let product of order.products">
                                    {{ product.name }} - {{ product.quantity }} {{ product.unit }}
                                </li>
                            </ul>
                        </p-card>
                    </div>
                </div>

            </p-card>
        </div>
    </div>
</div>