.delivery-container {
    display: grid;
}

@media (max-width: 768px) {
    .delivery-container {
        grid-template-columns: auto 50px;
    }
}

@media (min-width: 769px) {
    .delivery-container {
        grid-template-columns: auto 200px;
    }
}