<div class="grid">

    <div class="col-12">
        <div class="pt-3 flex align-items-center justify-content-center">
            <div class="shadow-3" style="background-color:#deffea; border-radius: 30px; padding:20px">
                Your donator score: <b [countUp]="service.score$ | async" [duration]="5000"></b>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="p-3">
            <p-card>
                <h1 class="text-2xl font-bold m-0">My donations</h1>

                <ng-container *ngIf="pagedResult">

                    <p-card class="p-2" *ngFor="let item of pagedResult.queryable">
                        <div class="grid">
                            <div class="col-12">
                                <h2 class="text-xl font-bold m-0" [ngClass]="item.isExpired ? '' : 'text-primary'"
                                    style="cursor:pointer" [routerLink]="'/secure/my-donation/' + item.id">
                                    {{item.name}}
                                </h2>

                                <p>
                                    {{item.creationDate.toLocaleString(DateTime.DATETIME_MED)}} -
                                    <b> {{getProductsText(item.productsCount)}} </b>

                                    <p-tag *ngIf="item.isExpired" styleClass="ml-2 mb-1" icon="pi pi-calendar"
                                        severity="danger" value="EXPIRED">
                                    </p-tag>

                                    <p-tag *ngIf="!item.isDelivered" styleClass="ml-2 mb-1" icon="pi pi-calendar"
                                        severity="warning" value="Not delivered">
                                    </p-tag>

                                    <p-tag *ngIf="item.isDelivered" styleClass="ml-2 mb-1" icon="pi pi-calendar"
                                        severity="success" value="Delivered">
                                    </p-tag>
                                </p>

                            </div>
                        </div>
                    </p-card>

                    <p-paginator [rows]="pageSize" [totalRecords]="pagedResult.rowCount"
                        (onPageChange)="paginate($event)"></p-paginator>
                </ng-container>
            </p-card>
        </div>
    </div>
</div>