<div class="grid">
    <div class="col-12">
        <div class="p-3">

            <p-card *ngIf="!auth.dbUser.warehouseId">
                <h1 class="text-2xl font-bold m-0">You don't have warehouse assigned! 😯</h1>
            </p-card>

            <p-card *ngIf="auth.dbUser.warehouseId && !hasActiveDelivery">
                <h1 class="text-2xl font-bold m-0">You don't have active delivery! 🤨</h1>
            </p-card>

            <p-card *ngIf="auth.dbUser.warehouseId && hasActiveDelivery">
                <div *ngIf="delivery" class="grid">

                    <div class="col-12">
                        <div class="flex align-items-center justify-content-start">
                            <h2>{{ delivery.deliveryName }}</h2>
                        </div>
                    </div>

                    <div class="col-12">
                        <p class="mb-0"><b>Deliverer:</b> {{ delivery.delivererFullName }}</p>
                        <p class="m-0"><b>Needy:</b>
                            {{ delivery.needyFullName }}.
                            {{ delivery.needyEmail}}
                            <span *ngIf="delivery.needyPhoneNumber"> {{delivery.needyPhoneNumber}}</span>
                        </p>
                        <p class="m-0"><b>Creation Date:</b> {{ delivery.creationDate | string2Date }}</p>
                    </div>

                    <div class="col-12 lg:col-6">
                        <h3>Warehouse {{ delivery.warehouseName }}</h3>
                        <p class="m-0">
                            <a target="_blank"
                                href="https://www.google.com/maps/search/?api=1&query={{delivery.warehouseLocation.gpsLatitude}}%2C{{delivery.warehouseLocation.gpsLongitude}}">
                                <b>Address:</b>
                            </a>
                            {{ delivery.warehouseLocation.countryName }}, {{ delivery.warehouseLocation.city }}
                            {{ delivery.warehouseLocation.postalCode }}, {{ delivery.warehouseLocation.fullStreet }}
                        </p>

                    </div>

                    <div class="col-12 lg:col-6">
                        <h3>Order {{ delivery.orderName }}</h3>
                        <p class="m-0">
                            <a target="_blank"
                                href="https://www.google.com/maps/search/?api=1&query={{delivery.orderLocation.gpsLatitude}}%2C{{delivery.orderLocation.gpsLongitude}}">
                                <b>Address:</b>
                            </a>
                            {{ delivery.orderLocation.countryName }}, {{ delivery.orderLocation.city }}
                            {{ delivery.orderLocation.postalCode }}, {{ delivery.orderLocation.fullStreet }}
                        </p>
                    </div>

                    <div class="col-12 lg:col-6">
                        <google-map [center]="warehouseLocation" height="500px" width="100%" [zoom]="10">
                            <map-marker [options]="warehouseMarker"></map-marker>
                        </google-map>
                    </div>

                    <div class="col-12 lg:col-6">
                        <google-map [center]="orderLocation" height="500px" width="100%" [zoom]="10">
                            <map-marker [options]="orderMarker"></map-marker>
                        </google-map>
                    </div>

                    <div class="col-12">
                        <p-card header="Products">
                            <ul>
                                <li *ngFor="let product of delivery.products">
                                    {{ product.name }} - {{ product.quantity }} {{ product.unit }}
                                </li>
                            </ul>
                        </p-card>
                    </div>
                </div>

            </p-card>
        </div>
    </div>
</div>